/* /*  */

.login {
  margin-left: 1000px;
  text-decoration: none;
  margin-right: 20px;
}
a {
  text-decoration: none;
}
img {
  width: 700px;
  height: 500px;
}
.img_card img {
  width: 650px;
  height: 100vh;
  background-image: url(./img/Frame\ 18.png);
}
section {
  display: flex;
  justify-content: start;
}
.text_carrier {
  margin-top: 30px;
  padding-left: 50px;
}
form {
  display: block;
  padding: 20px;
  /* margin-bottom: 20px; */
  background-color: #fef7b7;
  width: 500px;
  height: 500px;
  margin-top: 50px;
  border-radius: 10px;
}
.dark-mode {
  background-color: black;
  color: white;
}
input {
  border: 1px solid white;
  width: 100%;
}
.form {
  margin-bottom: 20px;
}
.btns {
  /* margin-left: 200px; */
  width: 100%;
  background-color: #ff460e;
  border: none;
}
.logo {
  width: 50px;
  height: 30px;
}
select {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 20px;
}
option {
  margin-bottom: 20px;
}
.and {
  text-decoration: none;
}
button {
  border: 1px solid white;
}
#and {
  border: 1px solid #e1701e;
}
nav {
  background-color: #ff730e;
  color: #ff730e;
}
@media screen and (max-width: 524px) {
  .login {
    margin-left: 10px;
  }
  .and {
    text-decoration: none;
  }
  section {
    /* display: flex; */
    background-image: url(./img/WhatsApp\ Image\ 2024-02-09\ at\ 11.04.46_34ac0d26.jpg);
    padding: 0px;
    margin: 0px;
  }
  img {
    display: none;
  }
  form {
    display: block;
    width: 100%;
  }
  .text_carrier {
    margin-top: 30px;
    padding: 10px;
  }
}
